
/* navbar */
.menu{
    text-align: center;
}
.menu ul li {
	display: inline-block;
	margin: 5px  1px -10px 1px;
	background: #47dbfb;
	padding: 10px 30px;
    transition: .4s;
}
.menu ul li:hover{
	background: #fff;
}
.menu ul li:hover a::after{
    width: 100%;
}
.menu ul li a {
	text-decoration: none;
	color: #000;
	font-weight: 700;
	font-size: 17px;
   position: relative;
   display: inline-block;
}
.menu ul li:hover a{
    color: #47dbfb;
}
.menu ul li a::after{
	 content: '';
     position: absolute;
     bottom: 0;
     left: 0;
     height: 2px;
     width: 0%;
     background: #000;
     transition: .4s;
    
}
/* banner */
.banner{
    background: #47dbfb;
    padding: 130px 0px;
    color: #fff;
}
.banner p{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: -2px;
}
.banner h1{
    font-size: 75px;
    font-weight: 600;
    margin-bottom: -2px;
}
.banner a{
    text-decoration: none;
    color: #ddd;
    background: #fff;
    display: inline-block;
    padding: 12px 25px;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-weight: 600;
}
.banner i{
    font-size: 20px;
}
.banner a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 101%;
    z-index: -1;
    background: #000;
    border-radius: 15px;
    transform: scaleX(0);
    visibility: hidden;
    opacity: 0;
    transition: .6s;
    transform-origin: left;

}
.banner a:hover::after{
    transform: scaleX(1);
    visibility: visible;
    opacity: 1;

}
.banner span{
    position: relative;
    top: 2.5px;
}
.content-section{
    text-align: center;
    padding-top: 70px;
    height: 380px;
}
.content-section h2{
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 10px;
}
.content-section p{
    padding: 20px;
  
}
.content-section span{
    background: #000;
    color: #fff;
    padding: 13px 27px;
    margin: 10px 100px;
    transform: rotate(40deg);
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
   
}
.content-section .t-1{
    transform: rotate(-40deg);
    transition: .5s;
}

.content-section .t-2{
     transform: scale(1);
     transition: .5s;
}
.content-section .t-3{
     transition: .5s;
}

.content-section .t-1:hover{
         transform: rotate(0deg);
         background: #47dbfb;
         color: #000;
}
.content-section .t-2:hover{
         transform: scale(1.2);
         background: #47dbfb;
         color: #000;
}
.content-section .t-3:hover{
    transform: rotate(0deg);
    background: #47dbfb;
    color: #000;
}
.footer p{
    color: #ddd;
    font-weight: 600;
}


